.App {
  text-align: center;
  outline: none;
  /* background-color: #424242; */
  background-color: #07111D;
  color: #eee;
  min-height: 100%;
  height: 100vh;
}

.Nystrum {
  /* background-color: #424242; */
  background-color: #07111D;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#display {
  /* overflow: scroll; */
  /* height: 100vh; */
  height: 100%;
  /* min-height: 300px; */
}

#display:focus {
  outline: none;
}

.game_display_container {
  /* overflow-x: scroll; */
  /* border: solid 4px #eee; */
  /* height: 100%; */
  height: calc(100vh - 200px);
  margin: 10px;
}

.Instructions {
  height: 200px;
}

.Level {
  /* height: 100vh; */
  /* max-height: 100vh; */
}

.Level > .row {
  margin: 0;
}

.CharacterSelect {
  /* margin: auto; */
  width: 300px;
}

.CharacterSelect__button {
  display: block;
  margin: 20px 0;
  width: 350px;
}

.UI {
  text-align: left;
}

.UI button {
  display: block;
}

.Tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.Tooltip .top {
    min-width:200px; 
    top:-20px;
    left:50%;
    transform:translate(-50%, -100%);
    padding:10px 20px;
    color:#444444;
    background-color:#EEEEEE;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.Tooltip:hover .top {
    display:block;
}

.Tooltip .top i {
    position:absolute;
    top:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.Tooltip .top i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    background-color:#EEEEEE;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.CharacterCard_Container {
  display: flex;
  justify-content: flex-start;
  padding: 16px 0 0 16px;
}

.CharacterCard {
  /* border: 2px solid #222;
  box-shadow: 6px 6px 6px #222; */
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  /* margin-right: 20px; */
  margin-bottom: 20px;
  border-collapse: collapse;
  flex-direction: column;
}

.CharacterCard .Portrait {
  border: 3px solid;
  border-radius: 6px;
  display: flex;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 16px;
  /* min-width: 100px;
  min-height: 100px; */
  /* padding: 10px; */
}

.CharacterCard .StatusEffects {
  /* background-color: #666; */
  display: flex;
  justify-content: flex-start;
  border-radius: 6px;
  padding: 8px;
  margin: 0 12px 0 0;
  text-align: center;
}

.ResourceBlock {
  border: 3px solid;
  border-radius: 6px;
  box-shadow: 3px 3px #424242;
  display: flex;
  font-size: 16;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
}

.StatusEffects__effect {
  border: 3px solid;
  border-radius: 6px;
  box-shadow: 3px 3px #424242;
  display: flex;
  font-size: 16;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  padding: 10px;
}

.ItemPortrait {
  border: 3px solid;
  border-radius: 6px;
  box-shadow: 3px 3px #424242;
  display: flex;
  font-size: 16;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  padding: 10px;
}

.CharacterCard .NamePlate {
  font-size: 26px;
}

.ProgressBar {
  margin-bottom: 16px;
}

.ProgressBar__blips {
  background-color: #666;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 8px;
  margin: 0 12px 0 0;
  text-align: center;
}
.ProgressBar__blips__blip {
  display: inline-block;
  min-height: 20px;
  min-width: 20px;
  border: 2px solid #424242;
  box-shadow: 3px 3px #424242;
  border-radius: 5px;
}


.Jacinto_Help {
  width: 50%;
}

.modal > .Jacinto_Help {
  width: auto;
}

.modal-content, 
.modal-footer {
  background-color: #07111Dff !important;
  color: #E19D3Fff;
}


.modal-footer .modal-close {
  color: #E19D3Fff;
}

.Jacinto_Help .Jacinto_Help__section_header {
  border: #E19D3Fff 1px solid;
  border-radius: 5px;
  font-size: 20px;
}

.Jacinto_Help .Jacinto_Help__section_body {
  text-align: left;
  margin: 15px 0;
}


.Keymap {
  /* left: 0px; */
  height: 50vh;
}

.Keymap .Button {
  width: 100%;
}

.CharacterActions {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.CharacterActions__item {
}

.CharacterActions__item__label {
  background-color: #222;
  border: #222 1px solid;
  border-radius: 6px;
  margin: auto;
  text-align: center;
  position: relative;
  width: 90px;
  top: 10px;
}

.CharacterActions__item__content {
  align-items: center;
  border: #222 solid 2px;
  border-radius: 6px;
  display: flex;
  font-size: 10px;
  /* font-family: 'Roboto', 'scroll-o-script'; */
  height: 40px;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.CharacterActions__item__resources {
  bottom: 15px;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.EquipmentCard {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.EquipmentCard--selected {
  border: 5px solid #eee8d5;
  border-radius: 5px;
}
.EquipmentCard--equipable:hover {
  border: 5px solid #eee8d5;
  border-radius: 5px;
}

.EquipmentCard__reload_overlay {
  background-color: rgba(0,0,0,0.8);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.EquipmentCard__reload_overlay__text {
  font-size: 24px;
}

.EquipmentCard__item {
  margin-right: 10px;
}

.EquipmentCard__item__label {
  background-color: #222;
  border: #222 1px solid;
  border-radius: 6px;
  margin: auto;
  text-align: center;
  /* position: relative; */
  width: 90px;
  /* top: 10px; */
}

.SimpleEquipmentCard {
  margin-bottom: 0;
  padding: 0 0 10px 10px;
}

.EquipmentCard__item__label--simple {
  border-radius: 6px;
  margin: auto;
}

.EquipmentCard__item__label__amount {
  color: #E19D3Fff
}

.EquipmentCard__item__content {
  align-items: center;
  border: #222 solid 2px;
  border-radius: 6px;
  display: flex;
  /* font-family: 'Roboto', 'scroll-o-script'; */
  height: 100px;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 100px;
  font-size: 40px;
}

.EquipmentCard__item__stats {
  flex-direction: column;
  display: flex;
}

.StatBlock {
  border: 3px solid;
  border-radius: 6px;
  box-shadow: 3px 3px #424242;
  display: flex;
  font-size: 16;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
}


.Inventory {
  /* left: 200px; */
}

.Equipment {
  /* left: 400px; */
}

.Information {
  /* right: 0; */
  /* left: 600px; */
}

.Instructions__block {
  background-color: #666;
  min-width: 200px;
  border-radius: 6px;
  padding: 8px;
  display: inline-block;
  margin: 0 12px 0 0;
  text-align: center;
}

.Instructions__block--Jacinto {
  background-color: #07111Dff !important;
  color: #E19D3Fff;
}

.Instructions__block .btn-main {
  width: 100%;
}

.Messages {
  /* right: 0; */
  /* left: 600px; */
  /* overflow-y: scroll;
  height: 800px;  */
  /* height: 50vh; */
  min-height: 200px;
  max-height: 400px;
  overflow-y: hidden;
  margin-bottom: 16px;
}

.Messages .Message {
  width: 100%;
  text-align: left;
  display: block;
  text-overflow: ellipsis;
  height: unset;
  transition: background-color .2s ease-out;
  border-radius: 2px;
  /* line-height: 36px; */
  padding: 8px 16px;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: middle;
}

.Information .Button {
  display: inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Screen Animations */
.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;

}

.Title__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* color: #E19D3Fff; */
}

.Title__header {
  color: #E19D3Fff;
}

.btn-main {
  background-color: #E19D3Fff;
  color: #02252e;
  font-size: 20px;
  font-weight: bold;
}

.btn-main:hover, .btn-main:focus {
  background-color: #02252e;
  color: #E19D3Fff;
}

.Jacinto__ActionMenu__Actions {
  display: flex;
  flex-direction: column;
}

.Jacinto__ActionMenu__Actions__item {
  display: flex;
  flex-direction: row;
  padding: 0 2px 16px 0;
  flex-wrap: wrap;
}

.Jacinto__ActionMenu__Actions__item:hover {
  border: 2px solid #E19D3Fff;
  border-radius: 5px;
  cursor: pointer;
}

.Jacinto__ActionMenu__Actions__item__label {
  color: #E19D3Fff;
  margin-right: 10px;
}

.Jacinto__ActionMenu__Actions__item__content {
  margin-right: 10px;
}

.Jacinto__ActionMenu__Actions__item__resources {
  display: flex;
}

.range-field {
  background-color: #07111D;
}

.range-field > label {
  color: #E19D3Fff;
}

.range-field > input {
  width: 50%;
  margin: auto;
  display: block;
}

